<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Necessary permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- GPS running in the background and foreground-->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION"/>
    
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
